<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>TODO manager</h1>

{{{content}}}

<h2>Добавить задачу</h2>

{{#if error}}
    <h2>{{error}}</h2>
{{/if}}

<form method="post">
    <input type="text" name="task" placeholder="Задача">
    <input type="submit" value="Добавить">
</form>

</body>
</html>