#main{
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}
.table tr, .table td {
    border: 1px solid black;
}